.star-rating {
    position: relative;
    width: 5em;
    height: 1em;
    font-size: 25px;
  
}
#star-rating-front {
    position: absolute;
    overflow: hidden;
    color: yellow;
    width:5em;
}
.star-rating-back {
    color:gray;
}